body{
  background-color: black;
}
center
{
  font-style: italic;
  color: yellow;
  font-size: 50px;
}
a
{
  font-size: 30px;
  text-decoration: underline;
}
form{
  color: yellow;
}
list
{
  color: yellow;
}
thead{
  color: yellow;
}
td,th
{
  color:white;
}
h5
{
  color: green;
}

ol{
  color: white;
  opacity: 0.6;
}
h2
{
  color:red;
  font-style: oblique;
  font-stretch: normal;
}
#new
{
  color: white;
  opacity:0.7;
}
img{
  width: 100px;
  height: 100px;
}
#anchor
{
  font-size: 20px;
}
